/* @media media-type and (media-feature-rule) {
     CSS rules go here 
    }
/* 
    media-type:
       all, screen, print, speech

*/ 


body, h1{
    margin: 0;
}


/* @media screen and (min-width: 800px) { */
    body {
      margin: 1em 2em;
      background: rebeccapurple;
    }
  }

  /* @media screen and (width: 600px) {
    body {
        background: red;
    }
} */

@media screen and (max-width: 600px) {
    body {
        background: blue;
    }
}

/* Semantic Elements in HTML


<article>
<aside>
<details>
<figcaption>
<figure>
<footer>
<header>
<main>
<mark>
<nav>
<section>
<summary>
<time>

 */

