/* A selector's specificity is calculated as follows:.

https://www.w3.org/TR/selectors-3/#specificity

count the number of ID selectors in the selector (= a)
count the number of class selectors, attributes selectors, and pseudo-classes in the selector (= b)
count the number of type selectors and pseudo-elements in the selector (= c)
ignore the universal selector */


/* Examples:

*               /* a=0 b=0 c=0 -> specificity =   0 
LI              /* a=0 b=0 c=1 -> specificity =   1 
UL LI           /* a=0 b=0 c=2 -> specificity =   2 
UL OL+LI        /* a=0 b=0 c=3 -> specificity =   3 
H1 + *[REL=up]  /* a=0 b=1 c=1 -> specificity =  11 
UL OL LI.red    /* a=0 b=1 c=3 -> specificity =  13 
LI.red.level    /* a=0 b=2 c=1 -> specificity =  21 
#x34y           /* a=1 b=0 c=0 -> specificity = 100 
#s12:not(FOO)   a=1 b=0 c=1 -> specificity = 101 */ 


/* Universal selector (*) */
/* pesudo elements ::, pesudo selectors : , .class selectors, #id selectors */
/*  Inline css has the highest specificity */

div span {
  color: blue;
}

div#container span {
  color: yellow;
}
/* overriding inline style with !important */
div#container span[style] {
  color: rgb(32, 13, 13) !important;
}
span {
    color: red;
  }
  
p + span {

}

p > span {
    
}

p ~ span {
    
}
a[title] {

}
a[href="www.google.com"]{

}
a[class~="container"]{
    
}